.post{
    width: 550px;
    border: 2px solid rgb(91, 32, 208);
    border-radius: 10px;
    padding: 20px;
    margin:20px 0;
}

.post .btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    
}
.post .btn-holder{
    margin-top: 30px;
}
.post .btn-holder a{
    text-decoration: none;
}

.post .btn-holder .btn1{
    color:rgb(2, 131, 178);
    font-size: 16px;
}
.post .btn-holder .btn2{
    background:rgb(2, 131, 178);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
}